@import 'tailwindcss';

:root {
	--background: #fcfcfc;
	--foreground: #0a0e13;
	--muted: #f5f6fa;
	--muted-hover: #f1f2f8;
	--muted-foreground: #48536b;
	--primary: #207be6;
	--primary-foreground: #ffffff;
	--primary-hover: #328df6;
	--border: #e0e4ec;
	--input: #f5f6fa;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #05070a;
		--foreground: #fff;
		--muted: #0a0e13;
		--muted-hover: #151a24;
		--muted-foreground: #949fb7;
		--primary: #3187f3;
		--primary-foreground: #e0e6f2;
		--primary-hover: #4c8aef;
		--border: #242a37;
		--input: #0e1217;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
}

@layer utilities {
	.bg-background {
		background-color: var(--background);
	}
	.text-foreground {
		color: var(--foreground);
	}
	.bg-muted {
		background-color: var(--muted);
	}
	.text-muted-foreground {
		color: var(--muted-foreground);
	}
	.bg-primary {
		background-color: var(--primary);
	}
	.text-primary-foreground {
		color: var(--primary-foreground);
	}
	.border-border {
		border-color: var(--border);
	}
	.hover\:bg-hover:hover {
		background-color: var(--muted-hover);
	}
	.hover\:bg-primary:hover {
		background-color: var(--primary-hover);
	}
}
